{% set pagetitle = 'Logged out'|trans %}
{% extends "base.twig" %}

{% block content %}
    <h2>{{ pagetitle }}</h2>

    <p>{{ 'You have been logged out. Thank you for using this service.'|trans }}</p>
{% if url is defined %}
    <a href="{{ url }}">{{ 'Go back to the service'|trans }}</a>
{% endif %}
{% endblock %}

{% block postload %}
{% if autofocus is defined %}
    <script type="text/javascript">window.onload = function() {document.getElementById('{{ autofocus }}').focus();}</script>
{% endif %}
{% endblock %}
